# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories (ignore for all subfolders unless specified otherwise)
node_modules/

# Environment variables
.env 
.env.local
# Local/OS/IDE specific files
.DS_Store
.vscode/
.idea/
*.sqlite
*.sqlite3

